<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Sentiment Analysis</h1>
            <p>Analyze text or a CSV file and get sentiment insights.</p>
        </header>

        <main>
            <div class="input-container">
                <h2>Analyze Text</h2>
                <form action="/" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <textarea name="text" id="text" rows="4" placeholder="Enter text for sentiment analysis"></textarea>
                    </div>
                    <button type="submit" class="btn">Analyze Text</button>
                </form>
            </div>

            <div class="input-container">
                <h2>Analyze CSV File</h2>
                <form action="/" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file" style="text-align: left;">Upload CSV file for sentiment analysis</label>
                        <div class="file-upload">
                            <label for="file" class="btn file-label">Choose File</label>
                            <input type="file" name="file" id="file" accept=".csv" onchange="updateFileName()" hidden>
                            <p id="file-name" class="file-name"></p>
                        </div>
                    </div>
                    <button type="submit" class="btn center-btn">Analyze CSV</button>
                </form>
            </div>
        </main>
    </div>

    <script>
        function updateFileName() {
            const fileInput = document.getElementById('file');
            const fileName = document.getElementById('file-name');
            fileName.textContent = fileInput.files[0].name || "";
        }
    </script>
</body>
</html>
